body{
  font-family: sans-serif;
  min-height: 100vh;
  margin-left: 20px;
}

.main {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  border-bottom: 1px #666666;
}

.header * {
  color: #666666;
  margin-left: 10px;
}

a:hover {
  color: #444444;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}
button {
  background-color: #666666;
  color: white;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  width: 30vh;
}

form *{
  margin-top: 10px;
  padding: 5px;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

h1 {
  color: blue;
}

img {
  width: 60vh;
}

a#login-button {
  background-color: #3c4146;
  color: #EEF4EC;
  padding: 1em;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -1em;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  width: 50vh;
  text-align: center;
  margin-top: 180px;
}

#nav-bar {
  display: flex;
  position: static;
  height: 10vh;
  flex-direction: row;
}

#navbar-cloud {
  width: 5vh;
  margin-left: 1vh;
}

#main-page-body {
  background-color: #ffd300;
}

.app-title {
  display: flex;
  align-items: center;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-cloud {
  width: 80vh;
  margin-bottom: 20px;
  margin-left: auto;
}
