<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <script src='/js/script.js' defer>

    </script>
    <title>NOT FOUND</title>
  </head>
  <body>
    {{> header}}
    <main>
      <h1>SORRY! {{title}} page cannot be found</h1>
      <img src="https://i.pinimg.com/originals/49/71/24/497124562a18fc5a7e7225f943775e79.jpg" alt="/images/shiba.jpeg">
    </main>
  </body>

  {{> footer}}
</html>
