<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src='/js/interaction.js' defer>

    </script>
    <title>About</title>
  </head>
  <body>
      {{> header}}
    <main>
      <h1>{{title}}</h1>
      <img src="https://thehappypuppysite.com/wp-content/uploads/2018/05/shiba-inu-header.jpg" alt="/images/shiba.jpeg">
    </main>
  </body>
  {{> footer}}
</html>
