<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Shiba's Forecast</title>
  </head>
  <body id='main-page-body'>
    <section id='nav-bar'>
      <span class="app-title">
        <p>Shiba Forecast</p>
        <img id='navbar-cloud' src="/images/cloud.svg" alt=":)">
      </span>
    </section>
    <section class='main-section'>
      <img id='main-cloud' src="/images/cloudy-day.svg" alt="Shiba Forecast">
      <a id="login-button" href="/login">Log In With GitHub</a>
    </section>
  </body>
</html>
